<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Estes Nightscapes</title>
  <section class="home-page-title">
    <h1 class=home-page-company-name>Estes Nightscapes</h1>
    <h2 class=home-page-product>Night Sky Photography</h2>
  </section>
</head>
<body class="home-page-body">
  <div class="photo-gallery-div">
  </div>
</body>
</html>
