<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Estes Nightscapes</title>
</head>
<body class="home-page-body">
  <h1 class=home-page-company-name>Estes Nightscapes</h1>
  <h2 class=home-page-product>Night Sky Photography</h2>

	<div id="home-page-carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner home-page-carousel-inner mx-auto">
	  	<% GalleryImage.all_landscapes.each_with_index do |img_path, index| %>
	  		<% class_extras = index > 0 ? "home-page-carousel-item" : "active home-page-carousel-item" %>
		    <div class="carousel-item <%= class_extras %>">
		    	<%= image_tag(img_path, class: "d-block img-fluid") %>
		    </div>
		  <% end %>
	  </div>
	</div>  

</body>
</html>

<script>
	$(function () {
		$('#home-page-carousel').carousel({pause: false})
	})
</script>