<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Estes Nightscapes</title>
  <h1 class=home-page-title>Estes Nightscapes</h1>
  <h2 class=home-page-title>Night Sky Photography</h2>
</head>
<body class="home-page-body">
  <div class="photo-gallery-div">
  </div>
</body>
</html>
