<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <title>Estes Nightscapes</title>
  <h2 class=home-page-title>Estes Nightscapes - Night Sky Photography</h2>
</head>
<body>
  <div id="texttop">
    <br />
    <section class=gallery-section>
      <em class="where-to-buy-text">Ready-to-hang prints available at</em>
      <%= image_tag("Aspen-and-Evergreen/gallery-logo.jpg", class: "gallery-logo") %>
      <p class="gallery-addr">356 E Elkhorn Ave</p>
      <p class="gallery-addr">Estes Park, CO</p>
      <p class="gallery-tele">(970) 586-4355</p>
      <p class="gallery-hours">Open 10 AM - 5 PM, Thu - Tue</p>
    </section>
  </div>
</body>
</html>
