<div class="row landscape-div">
  <% @landscapes.each do |img_path| %>
    <div class="col">
      <%= image_tag(img_path, class: "landscape-image") %>
    </div>
  <% end %>
</div>
<div class="row portrait-div">
  <% @portraits.each do |img_path| %>
    <div class="col">
      <%= image_tag(img_path, class: "portrait-image") %>
    </div>
  <% end %>
</div>