<div class="row landscape-div">
  <%= image_tag("EN-HD-images/GemLake-2019Jul28.jpg", class: "landscape-image") %>
</div>
<div class="row portrait-div">
  <%= image_tag("EN-HD-images/FirsReaching-2018Sep8.jpg", class: "portrait-image") %>
</div>