<div class="gallery-info">
  <section class=gallery-section>
    <div class="gallery-info">
      <em class="where-to-buy-text">High quality aluminum prints available at</em>
      <%= image_tag("Aspen-and-Evergreen/gallery-logo.jpg", class: "gallery-logo") %>
      <p class="gallery-addr">356 E Elkhorn Ave</p>
      <p class="gallery-addr">Estes Park, CO</p>
      <p class="gallery-tele">(970) 586-4355</p>
      <p class="gallery-hours">Open 10 AM - 5 PM, Thu - Tue</p>
    </div>
    <div class="gallery-storefront">
      <%= image_tag("Aspen-and-Evergreen/storefront.jpg", class: "storefront-image") %>
    </div>
  </section>
</div>
