/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


body, header {
  background-attachment: fixed;
  background-image: url(asset_path('home-page-background.jpg'));
  background-size: 100% 100%;
  color: #488048;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.navbar-row {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 9%;
  margin-top: 3%;
}

.navbar-item {
  font-size: medium;
  text-align: center;
  width: 100%;
}
