// Place all the styles related to the gallery_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-gallery-body {
}

.landscape-div {
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.landscape-image {
  border: 1px solid #aaa;
  max-width: 85%;
}

.portrait-div {
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
}

.portrait-image {
  border: 1px solid #aaa;
  max-width: 57%;
}

#show-carousel-landscape {
  color: #40c040;
  margin-bottom: 3%;
  margin-top: 12%;
}

#show-carousel-portrait {
  color: #40c040;
  margin-bottom: 3%;
  margin-top: 6%;
}

.show-carousel-inner-landscape {
  max-height: 540px;
  max-width: 810px;
}

.show-carousel-inner-portrait {
  max-height: 540px;
  max-width: 360px;
}

.show-carousel-item {
}

.show-image {
  border: 1px solid #555;
  margin-bottom: 3%;
}

.show-carousel-metadata {
}

.show-carousel-description {
  color: #FFFF66;
  font-size: 10px;
  opacity: 0.5;
}

.show-carousel-title-landscape {
  margin-top: -84%;
  color: #FFFF66;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  opacity: 0.5;
}

.show-carousel-title-portrait {
  margin-top: -196%;
  color: #FFFF66;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  opacity: 0.5;
}
