// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.home-page-body {
  background-attachment: fixed;
  background-image: url(asset_path('home-page-background.jpg'));
  background-size: 100% 100%;
  color: #488048;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.home-page-footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #68a068;
}

.home-page-title {
  text-align: center;
}

.where-to-buy-link {
}