// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.home-page-title {
  color: #FFFF66;
  font-size: xlarge;
  font-weight: bolder;
  text-align: center;
}

.home-page-company-name {
  margin-top: 4em;
  position: relative;
}

.home-page-product {
}
