// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.gallery-addr, .gallery-hours, .gallery-tele, .home-page-title, .where-to-buy-text {
  font-family: 'Open Sans', sans-serif;
}

.gallery-addr, .gallery-tele {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.gallery-hours {
  text-align: center;
}

.gallery-logo {
  display: block;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  max-width: 100%;
}

.home-page-body {
  background-image: url(home-page-background.jpg);
  background-size: cover;
  color: #488048;
}

.where-to-buy-text {
}